@model IS_FHGMOABO.DAL.Property

@{
}

<!-- Modal -->
<div class="modal fade" id="editPropertyModal@(Model.Id)" tabindex="-1" aria-labelledby="addModalLabel">

    <div class="modal-dialog modal-lg">

        <div class="modal-content rounded-4">

            <div class="modal-header bg-dark rounded-top-4">

                <h5 class="modal-title text-warning" id="addModalLabel">Изменение записи о собственности</h5>
                <button type="button" class="btn-close border border-warning btn-outline-warning" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>


            <div class="modal-body">

            </div>

            <div class="modal-footer bg-dark rounded-bottom-4">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>

            </div>


        </div>

    </div>

</div>
