@using IS_FHGMOABO.Models.PropertiesModels;
@using Newtonsoft.Json;
@model IS_FHGMOABO.Models.PropertiesModels.IndexPropertiesModel

@{
}

<div class="row">
    <div class="col">
        <h2>Реестр собственников</h2>
    </div>
    <div class="col text-end">

        <!-- Button trigger modal -->
        <button id="addButton" type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#addModal">
            <i class="bi bi-person-fill-add"></i> Добавить собственность
        </button>

    </div>
</div>

@if (Model.Properties == null || Model.Properties.Count == 0)
{
    <div class="alert alert-warning text-center">
        <h1 class="mt-3">В системе отсутсутствует информация о собственностях.</h1>
    </div>
}
else
{
    <div class="alert alert-success text-center">
        <h1 class="mt-3">В системе присутствует информация о собственностях.</h1>
    </div>
}

@await Html.PartialAsync("Add", Model.AddProperties)

<script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })
</script>