@using IS_FHGMOABO.Models.HouseModels;
@model IS_FHGMOABO.Models.HouseModels.AddHouseModel

@{
    
}

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel">

    <div class="modal-dialog modal-lg">

        <div class="modal-content rounded-4">

            <div class="modal-header bg-dark rounded-top-4">

                <h5 class="modal-title text-warning" id="addModalLabel">Добавление в систему нового МКД</h5>
                <button type="button" class="btn-close border border-warning btn-outline-warning" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>

            <form method="post" asp-controller="House" asp-action="Add">
                
                <div class="modal-body">

                    <p class="mb3">
                        Данный раздел позовляет Вам внести в информационную систему сведения о многоквартирном доме. Вы должны в обязательном порядке ввести все текстовые поля, которые не помечены, как необязательные. Следите внимательно за вводимой информацией.
                    </p>

                    <h2 class="mt-3 mb-3">Адрес</h2>

                    <hr />

                    <div class="row">
                        
                        <div class="col">
                            <div class="form-group mb-3">

                                <label asp-for="type"></label>
                                @Html.DropDownListFor(model => model.type, new SelectList(Enum.GetValues(typeof(AddHouseModel.Type))), "Выберите тип", new { @class = "form-control" })
                                <span asp-validation-for="type" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group mb-3">

                                <label asp-for="Street"></label>
                                <input asp-for="Street" class="form-control" />
                                <span asp-validation-for="Street" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group mb-3">

                                <label asp-for="Number"></label>
                                <input asp-for="Number" class="form-control" />
                                <span asp-validation-for="Number" class="text-danger"></span>

                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col">
                            <div class="form-group mb-3">

                                <label asp-for="InhabitedLocality"></label>
                                <input asp-for="InhabitedLocality" class="form-control" />
                                <span asp-validation-for="InhabitedLocality" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group mb-3">

                                <label asp-for="Region"></label>
                                <input asp-for="Region" class="form-control" />
                                <span asp-validation-for="Region" class="text-danger"></span>

                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col">
                            <div class="form-group mb-3">

                                <label asp-for="District"></label>
                                <input asp-for="District" class="form-control" />
                                <span asp-validation-for="District" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group mb-3">

                                <label asp-for="Subject"></label>
                                <input asp-for="Subject" class="form-control" />
                                <span asp-validation-for="Subject" class="text-danger"></span>

                            </div>
                        </div>

                    </div>

                    <div class="form-group mb-3">

                        <label asp-for="Country"></label>
                        <input asp-for="Country" class="form-control" value="Российская Федерация" readonly />
                        <span asp-validation-for="Country" class="text-danger"></span>

                    </div>

                    <hr />

                    <h2 class="mt-3 mb-3">Кадастровые номера</h2>

                    <hr />

                    <div class="row">

                        <div class="col">
                            <div class="form-group mb-3">

                                <div class="form-group mb-3">

                                    <label asp-for="HouseCadastralNumber"></label>
                                    <input asp-for="HouseCadastralNumber" class="form-control" />
                                    <span asp-validation-for="HouseCadastralNumber" class="text-danger"></span>

                                </div>
                            </div>

                        </div>

                        <div class="col">
                            <div class="form-group mb-3">

                                <label asp-for="PlotCadastralNumber"></label>
                                <input asp-for="PlotCadastralNumber" class="form-control" />
                                <span asp-validation-for="PlotCadastralNumber" class="text-danger"></span>

                            </div>
                        </div>

                    </div>

                    <hr />

                    <h2 class="mt-3 mb-3">Площади</h2>

                    <hr />

                    <div class="row">

                        <div class="col">
                            <div class="form-group mb-3">

                                <label asp-for="HousesPassportedFloorArea"></label>
                                <input type="number" step="0.01" asp-for="HousesPassportedFloorArea" class="form-control" />
                                <span asp-validation-for="HousesPassportedFloorArea" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group mb-3">

                                <label asp-for="PlotPassportedFloorArea"></label>
                                <input type="number" step="0.01" asp-for="PlotPassportedFloorArea" class="form-control" />
                                <span asp-validation-for="PlotPassportedFloorArea" class="text-danger"></span>

                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col">
                            <div class="form-group mb-3">

                                <label asp-for="ResidentialPremisesPassportedArea"></label>
                                <input type="number" step="0.01" asp-for="ResidentialPremisesPassportedArea" class="form-control" />
                                <span asp-validation-for="ResidentialPremisesPassportedArea" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group mb-3">

                                <label asp-for="NonResidentialPremisesPassportedArea"></label>
                                <input type="number" step="0.01" asp-for="NonResidentialPremisesPassportedArea" class="form-control" />
                                <span asp-validation-for="NonResidentialPremisesPassportedArea" class="text-danger"></span>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="modal-footer bg-dark rounded-bottom-4">

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-warning">Сохранить</button>

                </div>

            </form>

        </div>

    </div>

</div> 

@if (ViewData.ModelState.IsValid == false) 
{
    <script>
        window.onload = function () {
            document.getElementById("addButton").click();
        };
    </script>
}