<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IS_FHGMOABO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IS_FHGMOABO.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pie.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body style="margin: 0px;">

    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="bg-dark bg-opacity-25 sticky-top shadow" id="sidebar-wrapper">

            <div class="sidebar-heading bg-dark text-light text-center fw-bold">ИС: ОCС</div>

            <div class="list-group list-group-flush text-center">

                <a class="mt-2 mb-1 ms-3 opacity-75 me-3 pt-2 pb-2 border-2 rounded-4 btn btn-secondary shadow-lg text-light p-3" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-heart-fill"></i> Главная</a>
                <a class="mt-1 mb-1 ms-3 opacity-75 me-3 pt-2 pb-2 border-2 rounded-4 btn btn-secondary shadow-lg text-light p-3" asp-area="" asp-controller="House" asp-action="Index"><i class="bi bi-building-fill"></i> МКД</a>
                <a class="mt-1 mb-1 ms-3 opacity-75 me-3 pt-2 pb-2 border-2 rounded-4 btn btn-secondary shadow-lg text-light p-3" asp-area="" asp-controller="Properties" asp-action="Index"><i class="bi bi-people-fill"></i></i> Собственности</a>
                <a class="mt-1 mb-1 ms-3 opacity-75 me-3 pt-2 pb-2 border-2 rounded-4 btn btn-secondary shadow-lg text-light p-3" asp-area="" asp-controller="Meetings" asp-action="Index"><i class="bi bi-clipboard"></i> Собрания</a>

            </div>

            <div class="list-group list-group-flush text-center" style="position:absolute; bottom:10px;">

                <a class="mt-2 mb-1 ms-3 opacity-75 me-3 pt-2 pb-2 border-2 rounded-4 btn btn-warning shadow-lg text-black p-3" asp-area="" asp-controller="Account" asp-action="Register"><i class="bi bi-person-vcard"></i> Добавить пользователя</a>

            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow">
                <div class="container-fluid">

                    <button class="btn btn-warning" id="sidebarToggle"><i class="bi bi-reply-all-fill"></i> Боковое меню</button>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item ">
                                @using (Html.BeginForm("Logout", "Account", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()

                                    <button type="submit" class="btn btn-warning">Выйти <i class="bi bi-box-arrow-right"></i></button>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div id="main" class="container-fluid pt-3" style="overflow-y: scroll; height: calc(100vh - 54px)">

                @RenderBody()

            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
